In [110]:
import pandas as pd
import json
import ast
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [111]:
movies = pd.read_csv('../movies_dataset.csv')
credits = pd.read_csv('../credits.csv')

# Head
movies.head()

C:\Users\esteb\AppData\Local\Temp\ipykernel_19720\2210487959.py:1: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  movies = pd.read_csv('../movies_dataset.csv')

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0

In [112]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45466 entries, 0 to 45465
Data columns (total 24 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   adult                  45466 non-null  object
 1   belongs_to_collection  4494 non-null   object
 2   budget                 45466 non-null  object
 3   genres                 45466 non-null  object
 4   homepage               7782 non-null   object
 5   id                     45466 non-null  object
 6   imdb_id                45449 non-null  object
 7   original_language      45455 non-null  object
 8   original_title         45466 non-null  object
 9   overview               44512 non-null  object
 10  popularity             45461 non-null  object
 11  poster_path            45080 non-null  object
 12  production_companies   45463 non-null  object
 13  production_countries   45463 non-null  object
 14  release_date           45379 non-null  object
 15  revenue                45460 non-null  float64
 16  runtime                45203 non-null  float64
 17  spoken_languages       45460 non-null  object
 18  status                 45379 non-null  object
 19  tagline                20412 non-null  object
 20  title                  45460 non-null  object
 21  video                  45460 non-null  object
 22  vote_average           45460 non-null  float64
 23  vote_count             45460 non-null  float64
dtypes: float64(4), object(20)
memory usage: 8.3+ MB

In [113]:
movies.columns

Index(['adult', 'belongs_to_collection', 'budget', 'genres', 'homepage', 'id',
       'imdb_id', 'original_language', 'original_title', 'overview',
       'popularity', 'poster_path', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'video',
       'vote_average', 'vote_count'],
      dtype='object')

In [114]:
movies = movies.dropna(how='all')

In [115]:
#Transformamos los valores de estas columnas a numéricos.
movies['id'] = pd.to_numeric(movies['id'],errors='coerce',downcast='integer')
movies['budget'] = pd.to_numeric(movies['budget'],errors='coerce',downcast='float')
movies['popularity'] = pd.to_numeric(movies['popularity'],errors='coerce',downcast='float')

In [116]:
#Transformamos la columna release_date a pandas datetime, luego eliminamos los con valores nulos
movies['release_date'] = pd.to_datetime(movies['release_date'],errors='coerce')
movies.dropna(subset = ['release_date'],axis=0,inplace=True)
movies['release_year'] = movies['release_date'].dt.year #Creamos un acolumna extrayendo el año
movies['release_month'] = movies['release_date'].dt.month #Creamos un acolumna extrayendo el mes

In [117]:
movies.head()

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,release_year,release_month
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000.0,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862.0,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0,1995,10
1,False,NaN,65000000.0,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844.0,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0,1995,12
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0.0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602.0,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0,1995,12
3,False,NaN,16000000.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357.0,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0,1995,12
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0.0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862.0,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0,1995,2

In [118]:
# Muchos valores nulos en "belongs_to_collection" por lo tanto los llenamos con 1 (pertenece) o 0(no pertenece) 
movies['belongs_to_collection'] = movies['belongs_to_collection'].fillna('None') #Llenamos los NaN con 'none'
movies[['collection_name']] = movies[['belongs_to_collection']].applymap(lambda x: 'None' if x=='None' else ast.literal_eval(x)['name']) #Creamos una nueva columna con el nombre de la coleccion si corresponde, si no es 'None'.
movies['belongs_to_collection'] = movies['belongs_to_collection'].map(lambda x: 0 if x == 'None' else 1) #Si tiene un nombre válido se llena con 1, si tiene un 'none' se llena con 0

In [119]:
movies.head()

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,spoken_languages,status,tagline,title,video,vote_average,vote_count,release_year,release_month,collection_name
0,False,1,30000000.0,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862.0,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0,1995,10,Toy Story Collection
1,False,0,65000000.0,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844.0,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0,1995,12,None
2,False,1,0.0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602.0,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0,1995,12,Grumpy Old Men Collection
3,False,0,16000000.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357.0,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0,1995,12,None
4,False,1,0.0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862.0,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0,1995,2,Father of the Bride Collection

In [120]:
#Eliminamos columnas que no vamos a utilizar
movies.drop(['homepage','original_title','tagline','spoken_languages','adult','imdb_id','overview','poster_path','video'],axis=1,inplace=True)
movies.head()

,belongs_to_collection,budget,genres,id,original_language,popularity,production_companies,production_countries,release_date,revenue,runtime,status,title,vote_average,vote_count,release_year,release_month,collection_name
0,1,30000000.0,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",862.0,en,21.946943,"[{'name': 'Pixar Animation Studios', 'id': 3}]","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-10-30,373554033.0,81.0,Released,Toy Story,7.7,5415.0,1995,10,Toy Story Collection
1,0,65000000.0,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",8844.0,en,17.015539,"[{'name': 'TriStar Pictures', 'id': 559}, {'na...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-15,262797249.0,104.0,Released,Jumanji,6.9,2413.0,1995,12,None
2,1,0.0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",15602.0,en,11.712900,"[{'name': 'Warner Bros.', 'id': 6194}, {'name'...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,0.0,101.0,Released,Grumpier Old Men,6.5,92.0,1995,12,Grumpy Old Men Collection
3,0,16000000.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",31357.0,en,3.859495,[{'name': 'Twentieth Century Fox Film Corporat...,"[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,81452156.0,127.0,Released,Waiting to Exhale,6.1,34.0,1995,12,None
4,1,0.0,"[{'id': 35, 'name': 'Comedy'}]",11862.0,en,8.387519,"[{'name': 'Sandollar Productions', 'id': 5842}...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-02-10,76578911.0,106.0,Released,Father of the Bride Part II,5.7,173.0,1995,2,Father of the Bride Collection

In [121]:
movies.head()

,belongs_to_collection,budget,genres,id,original_language,popularity,production_companies,production_countries,release_date,revenue,runtime,status,title,vote_average,vote_count,release_year,release_month,collection_name
0,1,30000000.0,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",862.0,en,21.946943,"[{'name': 'Pixar Animation Studios', 'id': 3}]","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-10-30,373554033.0,81.0,Released,Toy Story,7.7,5415.0,1995,10,Toy Story Collection
1,0,65000000.0,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",8844.0,en,17.015539,"[{'name': 'TriStar Pictures', 'id': 559}, {'na...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-15,262797249.0,104.0,Released,Jumanji,6.9,2413.0,1995,12,None
2,1,0.0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",15602.0,en,11.712900,"[{'name': 'Warner Bros.', 'id': 6194}, {'name'...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,0.0,101.0,Released,Grumpier Old Men,6.5,92.0,1995,12,Grumpy Old Men Collection
3,0,16000000.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",31357.0,en,3.859495,[{'name': 'Twentieth Century Fox Film Corporat...,"[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,81452156.0,127.0,Released,Waiting to Exhale,6.1,34.0,1995,12,None
4,1,0.0,"[{'id': 35, 'name': 'Comedy'}]",11862.0,en,8.387519,"[{'name': 'Sandollar Productions', 'id': 5842}...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-02-10,76578911.0,106.0,Released,Father of the Bride Part II,5.7,173.0,1995,2,Father of the Bride Collection

In [122]:
#Creamos una función para conocer cuantos valores nulos hay por columna.
def missing_values(df):
    print(f'Total null values count = {df.isna().sum().sum()}')
    return df.isna().sum()

In [123]:
missing_values(movies)

Total null values count = 337

belongs_to_collection      0
budget                     0
genres                     0
id                         0
original_language         11
popularity                 0
production_companies       0
production_countries       0
release_date               0
revenue                    0
runtime                  246
status                    80
title                      0
vote_average               0
vote_count                 0
release_year               0
release_month              0
collection_name            0
dtype: int64

In [124]:

movies['status'].fillna(movies['status'].mode()[0],inplace=True) #Llenamos los nulos de la columna status con la moda
movies['runtime'] = movies['runtime'].replace(0,np.nan) #Transformamos los 0  de la columna runtime en NaN
movies['runtime'].fillna(movies['runtime'].mean(),inplace=True) #Cambiamos los NaN por la mediana
movies['original_language'].fillna(movies['original_language'].mode()[0],inplace=True) #Llenamos los NaN de la columna original_language por la moda

In [125]:
movies['return'] = np.where(movies['budget'] != 0, movies['revenue'] / movies['budget'], 0)#Creamos la columna 'return' con la división entre revenue y budget, si no hay información es 0.
movies.head()

,belongs_to_collection,budget,genres,id,original_language,popularity,production_companies,production_countries,release_date,revenue,runtime,status,title,vote_average,vote_count,release_year,release_month,collection_name,return
0,1,30000000.0,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",862.0,en,21.946943,"[{'name': 'Pixar Animation Studios', 'id': 3}]","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-10-30,373554033.0,81.0,Released,Toy Story,7.7,5415.0,1995,10,Toy Story Collection,12.451801
1,0,65000000.0,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",8844.0,en,17.015539,"[{'name': 'TriStar Pictures', 'id': 559}, {'na...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-15,262797249.0,104.0,Released,Jumanji,6.9,2413.0,1995,12,None,4.043035
2,1,0.0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",15602.0,en,11.712900,"[{'name': 'Warner Bros.', 'id': 6194}, {'name'...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,0.0,101.0,Released,Grumpier Old Men,6.5,92.0,1995,12,Grumpy Old Men Collection,0.000000
3,0,16000000.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",31357.0,en,3.859495,[{'name': 'Twentieth Century Fox Film Corporat...,"[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,81452156.0,127.0,Released,Waiting to Exhale,6.1,34.0,1995,12,None,5.090760
4,1,0.0,"[{'id': 35, 'name': 'Comedy'}]",11862.0,en,8.387519,"[{'name': 'Sandollar Productions', 'id': 5842}...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-02-10,76578911.0,106.0,Released,Father of the Bride Part II,5.7,173.0,1995,2,Father of the Bride Collection,0.000000

In [126]:
#Esta función convierte una cadena de lista JSON en una lista de valores extraídos de los objetos JSON correspondientes, utilizando la clave 'name' (o el valor especificado por want). Si la cadena no se puede evaluar como una lista o está vacía, se devuelve NaN.
def json_to_list(row,want='name'):
    new_list = ast.literal_eval(row)    
    if new_list == [] or isinstance(new_list,float):
        return (np.nan)
    else:
        inner = []
        for j in new_list:
            inner.append(j[want])
        return (inner)

#Se aplica la funcion a las 3 columnas anidadas.    
movies[['production_companies']] = movies[['production_companies']].applymap(json_to_list)
movies[['production_countries']] = movies[['production_countries']].applymap(lambda row: json_to_list(row ,'iso_3166_1')) #En esta columna se extrae el valor de 'iso_3166_1'
movies[['genres']] = movies[['genres']].applymap(json_to_list)

In [127]:
movies.head()

,belongs_to_collection,budget,genres,id,original_language,popularity,production_companies,production_countries,release_date,revenue,runtime,status,title,vote_average,vote_count,release_year,release_month,collection_name,return
0,1,30000000.0,"[Animation, Comedy, Family]",862.0,en,21.946943,[Pixar Animation Studios],[US],1995-10-30,373554033.0,81.0,Released,Toy Story,7.7,5415.0,1995,10,Toy Story Collection,12.451801
1,0,65000000.0,"[Adventure, Fantasy, Family]",8844.0,en,17.015539,"[TriStar Pictures, Teitler Film, Interscope Co...",[US],1995-12-15,262797249.0,104.0,Released,Jumanji,6.9,2413.0,1995,12,None,4.043035
2,1,0.0,"[Romance, Comedy]",15602.0,en,11.712900,"[Warner Bros., Lancaster Gate]",[US],1995-12-22,0.0,101.0,Released,Grumpier Old Men,6.5,92.0,1995,12,Grumpy Old Men Collection,0.000000
3,0,16000000.0,"[Comedy, Drama, Romance]",31357.0,en,3.859495,[Twentieth Century Fox Film Corporation],[US],1995-12-22,81452156.0,127.0,Released,Waiting to Exhale,6.1,34.0,1995,12,None,5.090760
4,1,0.0,[Comedy],11862.0,en,8.387519,"[Sandollar Productions, Touchstone Pictures]",[US],1995-02-10,76578911.0,106.0,Released,Father of the Bride Part II,5.7,173.0,1995,2,Father of the Bride Collection,0.000000

In [128]:
missing_values(movies)

Total null values count = 20391

belongs_to_collection        0
budget                       0
genres                    2384
id                           0
original_language            0
popularity                   0
production_companies     11796
production_countries      6211
release_date                 0
revenue                      0
runtime                      0
status                       0
title                        0
vote_average                 0
vote_count                   0
release_year                 0
release_month                0
collection_name              0
return                       0
dtype: int64

In [129]:
movies.head()

,belongs_to_collection,budget,genres,id,original_language,popularity,production_companies,production_countries,release_date,revenue,runtime,status,title,vote_average,vote_count,release_year,release_month,collection_name,return
0,1,30000000.0,"[Animation, Comedy, Family]",862.0,en,21.946943,[Pixar Animation Studios],[US],1995-10-30,373554033.0,81.0,Released,Toy Story,7.7,5415.0,1995,10,Toy Story Collection,12.451801
1,0,65000000.0,"[Adventure, Fantasy, Family]",8844.0,en,17.015539,"[TriStar Pictures, Teitler Film, Interscope Co...",[US],1995-12-15,262797249.0,104.0,Released,Jumanji,6.9,2413.0,1995,12,None,4.043035
2,1,0.0,"[Romance, Comedy]",15602.0,en,11.712900,"[Warner Bros., Lancaster Gate]",[US],1995-12-22,0.0,101.0,Released,Grumpier Old Men,6.5,92.0,1995,12,Grumpy Old Men Collection,0.000000
3,0,16000000.0,"[Comedy, Drama, Romance]",31357.0,en,3.859495,[Twentieth Century Fox Film Corporation],[US],1995-12-22,81452156.0,127.0,Released,Waiting to Exhale,6.1,34.0,1995,12,None,5.090760
4,1,0.0,[Comedy],11862.0,en,8.387519,"[Sandollar Productions, Touchstone Pictures]",[US],1995-02-10,76578911.0,106.0,Released,Father of the Bride Part II,5.7,173.0,1995,2,Father of the Bride Collection,0.000000

In [130]:
credits.head()

,cast,crew,id
0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...",862
1,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...",8844
2,"[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de...",15602
3,"[{'cast_id': 1, 'character': ""Savannah 'Vannah...","[{'credit_id': '52fe44779251416c91011acb', 'de...",31357
4,"[{'cast_id': 1, 'character': 'George Banks', '...","[{'credit_id': '52fe44959251416c75039ed7', 'de...",11862

In [131]:
# Convertimos el tipo de dato de Credits.id para el merge
credits['id'] = pd.to_numeric(credits['id'],errors='coerce',downcast='integer')

In [132]:
cast = pd.DataFrame()
cast['cast'] = credits['cast']

In [133]:
# Analizamos y transformamos a dicccionario
cast['cast'] = cast['cast'].apply(lambda x: ast.literal_eval(x) if isinstance(x, str) else x)

# Creamos nuevas columnas a partir del diccionario
cast['cast_id'] = cast['cast'].apply(lambda x: [d['cast_id'] for d in x] if isinstance(x, list) else [])
cast['character'] = cast['cast'].apply(lambda x: [d['character'] for d in x] if isinstance(x, list) else [])
cast['credit_id'] = cast['cast'].apply(lambda x: [d['credit_id'] for d in x] if isinstance(x, list) else [])
cast['actor_id'] = cast['cast'].apply(lambda x: [d['id'] for d in x] if isinstance(x, list) else [])
cast['actor_name'] = cast['cast'].apply(lambda x: [d['name'] for d in x] if isinstance(x, list) else [])

In [134]:
cast.head()

,cast,cast_id,character,credit_id,actor_id,actor_name
0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[14, 15, 16, 17, 18, 19, 20, 26, 22, 23, 24, 2...","[Woody (voice), Buzz Lightyear (voice), Mr. Po...","[52fe4284c3a36847f8024f95, 52fe4284c3a36847f80...","[31, 12898, 7167, 12899, 12900, 7907, 8873, 11...","[Tom Hanks, Tim Allen, Don Rickles, Jim Varney..."
1,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[1, 8, 2, 24, 10, 25, 26, 11, 14, 13, 31, 12, ...","[Alan Parrish, Samuel Alan Parrish / Van Pelt,...","[52fe44bfc3a36847f80a7c73, 52fe44bfc3a36847f80...","[2157, 8537, 205, 145151, 5149, 10739, 58563, ...","[Robin Williams, Jonathan Hyde, Kirsten Dunst,..."
2,"[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[2, 3, 4, 5, 6, 9, 10]","[Max Goldman, John Gustafson, Ariel Gustafson,...","[52fe466a9251416c75077a8d, 52fe466a9251416c750...","[6837, 3151, 13567, 16757, 589, 16523, 7166]","[Walter Matthau, Jack Lemmon, Ann-Margret, Sop..."
3,"[{'cast_id': 1, 'character': 'Savannah 'Vannah...","[1, 2, 3, 4, 5, 6, 8, 10, 20, 21]","[Savannah 'Vannah' Jackson, Bernadine 'Bernie'...","[52fe44779251416c91011aad, 52fe44779251416c910...","[8851, 9780, 18284, 51359, 66804, 352, 87118, ...","[Whitney Houston, Angela Bassett, Loretta Devi..."
4,"[{'cast_id': 1, 'character': 'George Banks', '...","[1, 2, 3, 4, 13, 14, 15, 16, 17, 18, 19, 20]","[George Banks, Nina Banks, Franck Eggelhoffer,...","[52fe44959251416c75039eb9, 52fe44959251416c750...","[67773, 3092, 519, 70696, 59222, 18793, 14592,...","[Steve Martin, Diane Keaton, Martin Short, Kim..."

In [135]:
cast.drop(columns=['cast', 'cast_id', 'credit_id'], inplace=True)
cast.head()

,character,actor_id,actor_name
0,"[Woody (voice), Buzz Lightyear (voice), Mr. Po...","[31, 12898, 7167, 12899, 12900, 7907, 8873, 11...","[Tom Hanks, Tim Allen, Don Rickles, Jim Varney..."
1,"[Alan Parrish, Samuel Alan Parrish / Van Pelt,...","[2157, 8537, 205, 145151, 5149, 10739, 58563, ...","[Robin Williams, Jonathan Hyde, Kirsten Dunst,..."
2,"[Max Goldman, John Gustafson, Ariel Gustafson,...","[6837, 3151, 13567, 16757, 589, 16523, 7166]","[Walter Matthau, Jack Lemmon, Ann-Margret, Sop..."
3,"[Savannah 'Vannah' Jackson, Bernadine 'Bernie'...","[8851, 9780, 18284, 51359, 66804, 352, 87118, ...","[Whitney Houston, Angela Bassett, Loretta Devi..."
4,"[George Banks, Nina Banks, Franck Eggelhoffer,...","[67773, 3092, 519, 70696, 59222, 18793, 14592,...","[Steve Martin, Diane Keaton, Martin Short, Kim..."

In [136]:
crew = pd.DataFrame()
crew['crew'] = credits['crew']

In [137]:
# Analizamos y transformamos a dicccionario
crew['crew'] = crew['crew'].apply(lambda x: ast.literal_eval(x) if isinstance(x, str) else x)

# Creamos nuevas columnas a partir del diccionario
crew['crew_id'] = crew['crew'].apply(lambda x: [d['id'] for d in x] if isinstance(x, list) else [])
crew['job'] = crew['crew'].apply(lambda x: [d['job'] for d in x] if isinstance(x, list) else [])
crew['crew_name'] = crew['crew'].apply(lambda x: [d['name'] for d in x] if isinstance(x, list) else [])

In [138]:
crew.drop(columns='crew', inplace=True)
crew.head()

,crew_id,job,crew_name
0,"[7879, 12891, 7, 12892, 12893, 12894, 12895, 1...","[Director, Screenplay, Screenplay, Screenplay,...","[John Lasseter, Joss Whedon, Andrew Stanton, J..."
1,"[511, 876, 1729, 4945, 4951, 4952, 8023, 9967,...","[Executive Producer, Screenplay, Original Musi...","[Larry J. Franco, Jonathan Hensleigh, James Ho..."
2,"[26502, 16837, 16837, 1551320]","[Director, Characters, Writer, Sound Recordist]","[Howard Deutch, Mark Steven Johnson, Mark Stev..."
3,"[2178, 5144, 5144, 21968, 70592, 111118, 11111...","[Director, Screenplay, Producer, Producer, Pro...","[Forest Whitaker, Ronald Bass, Ronald Bass, Ez..."
4,"[37, 5506, 17698, 17698, 26160, 56106, 68755]","[Original Music Composer, Director of Photogra...","[Alan Silvestri, Elliot Davis, Nancy Meyers, N..."

In [139]:
# funcion para extraer director
def extract_director(row):
    job_list = row['job']
    name_list = row['crew_name']
    directors = []  
    for i in range(len(job_list)):
        if job_list[i] == 'Director':
            directors.append(name_list[i])
    return ', '.join(directors)  # Devuelve los nombres separados por comas si hay mas de uno

# Aplicamos la duncion al dataframe
crew['Director'] = crew.apply(extract_director, axis=1)

# Vemos si funciona
print(crew[['Director']])

               Director
0         John Lasseter
1          Joe Johnston
2         Howard Deutch
3       Forest Whitaker
4         Charles Shyer
...                 ...
45471  Hamid Nematollah
45472          Lav Diaz
45473    Mark L. Lester
45474  Yakov Protazanov
45475     Daisy Asquith

[45476 rows x 1 columns]

In [140]:
crew.drop(columns=['crew_id', 'job', 'crew_name'], inplace=True)
crew.head()

          Director
0    John Lasseter
1     Joe Johnston
2    Howard Deutch
3  Forest Whitaker
4    Charles Shyer

In [141]:
credits = pd.concat([credits, cast, crew], axis=1)
credits.head()

,cast,crew,id,character,actor_id,actor_name,Director
0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...",862,"[Woody (voice), Buzz Lightyear (voice), Mr. Po...","[31, 12898, 7167, 12899, 12900, 7907, 8873, 11...","[Tom Hanks, Tim Allen, Don Rickles, Jim Varney...",John Lasseter
1,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...",8844,"[Alan Parrish, Samuel Alan Parrish / Van Pelt,...","[2157, 8537, 205, 145151, 5149, 10739, 58563, ...","[Robin Williams, Jonathan Hyde, Kirsten Dunst,...",Joe Johnston
2,"[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de...",15602,"[Max Goldman, John Gustafson, Ariel Gustafson,...","[6837, 3151, 13567, 16757, 589, 16523, 7166]","[Walter Matthau, Jack Lemmon, Ann-Margret, Sop...",Howard Deutch
3,"[{'cast_id': 1, 'character': ""Savannah 'Vannah...","[{'credit_id': '52fe44779251416c91011acb', 'de...",31357,"[Savannah 'Vannah' Jackson, Bernadine 'Bernie'...","[8851, 9780, 18284, 51359, 66804, 352, 87118, ...","[Whitney Houston, Angela Bassett, Loretta Devi...",Forest Whitaker
4,"[{'cast_id': 1, 'character': 'George Banks', '...","[{'credit_id': '52fe44959251416c75039ed7', 'de...",11862,"[George Banks, Nina Banks, Franck Eggelhoffer,...","[67773, 3092, 519, 70696, 59222, 18793, 14592,...","[Steve Martin, Diane Keaton, Martin Short, Kim...",Charles Shyer

In [142]:
credits.drop(columns=['cast', 'crew'], inplace=True)
credits.head()

,id,character,actor_id,actor_name,Director
0,862,"[Woody (voice), Buzz Lightyear (voice), Mr. Po...","[31, 12898, 7167, 12899, 12900, 7907, 8873, 11...","[Tom Hanks, Tim Allen, Don Rickles, Jim Varney...",John Lasseter
1,8844,"[Alan Parrish, Samuel Alan Parrish / Van Pelt,...","[2157, 8537, 205, 145151, 5149, 10739, 58563, ...","[Robin Williams, Jonathan Hyde, Kirsten Dunst,...",Joe Johnston
2,15602,"[Max Goldman, John Gustafson, Ariel Gustafson,...","[6837, 3151, 13567, 16757, 589, 16523, 7166]","[Walter Matthau, Jack Lemmon, Ann-Margret, Sop...",Howard Deutch
3,31357,"[Savannah 'Vannah' Jackson, Bernadine 'Bernie'...","[8851, 9780, 18284, 51359, 66804, 352, 87118, ...","[Whitney Houston, Angela Bassett, Loretta Devi...",Forest Whitaker
4,11862,"[George Banks, Nina Banks, Franck Eggelhoffer,...","[67773, 3092, 519, 70696, 59222, 18793, 14592,...","[Steve Martin, Diane Keaton, Martin Short, Kim...",Charles Shyer

In [145]:
movies.to_csv('../limpios/movieslimpio.csv', index=False)
credits.to_csv('../limpios/creditslimpio.csv', index=False)